@font-face {
    font-family: "Gotham";
    font-weight: lighter;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Gotham"), url("./assets/fonts/gotham-light.woff2") format("woff2");
}

@font-face {
    font-family: "Gotham";
    font-weight: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Gotham"), url("./assets/fonts/gotham-book.woff2") format("woff2");
}

@font-face {
    font-family: "Gotham";
    font-weight: bold;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Gotham"), url("./assets/fonts/gotham-bold.woff2") format("woff2");
}

@font-face {
    font-family: "Gotham";
    font-weight: bolder;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Gotham"), url("./assets/fonts/gotham-black.woff2") format("woff2");
}